@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEBUG LAYOUTS */
/* * {
  border: red solid 1px;
} */

:root {
  --container-width: 1200px; /*For using with bleeding layout*/
}

.hero-bg {
  backdrop-filter: blur(25px);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(/images/hero.jpg);
  background-color: #7D111C;
}

.first-element {
  @apply pt-0;
}

nav.nav-middle {
  backdrop-filter: blur(20px);
  background-color: rgba(255,255,255,0.8);
  @apply text-black;
}

.nav-link {
  transition: all 150ms ease;
}

.nav-link:hover {
  text-shadow: white 0 0 18px;
}

nav.nav-middle .nav-link {
  @apply hover:text-primary;
}

svg.with-text {
  fill: currentColor;
}

/* sm */
@media (min-width: 640px) {
  :root {
    --container-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  :root {
    --container-width: 768px;
  }
  .bleed-container {
    margin-left: calc((100vw - var(--container-width))/2)
  }
}

/* lg */
@media (min-width: 1024px) {
  :root {
    --container-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  :root {
    --container-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  :root {
    --container-width: 1536px;
  }
}

.main-head {
  @apply uppercase text-primary font-title font-medium text-5xl leading-none pb-4;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn-primary {
  @apply uppercase text-base font-semibold px-3 py-2 bg-primary text-white rounded-lg transition-all hover:brightness-90;
}

.btn-secondary {
  @apply uppercase text-base font-semibold px-3 py-2 bg-secondary text-white rounded-lg transition-all hover:brightness-90;
}

.yellow-stripe {
  background: repeating-linear-gradient(
    45deg,
    #ffcc00,
    #ffcc00 15px,
    #000 15px,
    #000 30px
  );
}

.blog-post-content * {
  @apply my-2 leading-6;
}

.blog-post-content p {
  @apply mb-6 text-lg;
}

.blog-post-content h1 {
  @apply text-primary text-4xl font-semibold pt-3 pb-2;
}

.blog-post-content h2 {
  @apply text-primary text-3xl font-semibold pt-3 pb-2;
}

.blog-post-content h3 {
  @apply text-primary text-2xl font-semibold pt-3 pb-2;
}

.blog-post-content h4 {
  @apply text-primary text-xl font-semibold pt-3 pb-2;
}

.blog-post-content figure {
  @apply my-8 drop-shadow;
}

.blog-post-content ul {
  @apply list-disc pl-6 pb-1 text-lg;
}

.blog-post-content ol {
  @apply list-decimal pl-6 pb-1 text-lg;
}

.blog-post-content a {
  @apply text-primary underline text-lg break-all;
}